In [68]:
import pandas as pd
import numpy as n
dtest = pd.read_csv("/content/TestEmployee.csv")
dtrain = pd.read_csv("/content/TrainEmployee.csv")
dtest.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
0,Bachelors,2016,Bangalore,3,24,Female,No,2
1,Bachelors,2013,Bangalore,3,26,Female,No,4
2,Bachelors,2017,New Delhi,2,25,Female,No,3
3,Masters,2015,Pune,2,28,Female,No,2
4,Bachelors,2012,Bangalore,3,33,Male,No,1

Объедините две самые редкие категории образования (Education) в категорию “Expert”. Сделайте это и для тренировочных, и для тестовых данных. Сколько строк со значением Expert стало в тренировочных данных?

In [59]:
display(dtest['Education'].unique())
dtest.loc[dtest['Education']!= 'Bachelors', 'Education'] = 'Expert'
dtrain.loc[dtrain['Education']!= 'Bachelors', 'Education'] = 'Expert'
len(dtrain[dtrain["Education"] == "Expert"])
dtrain.head()

array(['Bachelors', 'Masters', 'PHD'], dtype=object)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2013,Bangalore,3,35,Male,No,0,0
1,Expert,2013,New Delhi,3,27,Female,No,5,0
2,Bachelors,2015,Pune,3,32,Female,No,3,1
3,Expert,2017,Pune,2,29,Female,No,2,0
4,Bachelors,2016,Bangalore,3,28,Male,No,3,1

Создайте колонку GreatExperience и запишите в нее 1, если ExperienceInCurrentDomain больше 5, а иначе 0. Создавайте колонку и в тренировочных, и в тестовых данных.

Сколько сотрудников из тренировочных данных имеют значение GreatExperience, равное 1?

In [60]:
dtrain["GreatExperience"] = (dtrain['ExperienceInCurrentDomain'] > 5)
dtest["GreatExperience"] = (dtest['ExperienceInCurrentDomain'] > 5)

len(dtrain[dtrain["GreatExperience"] == 1])

13

Это задание выполняйте по данным Xtrain.
Среди всех сотрудников из города Bangalore найдите долю намеревающихся покинуть компанию (значение целевой переменной равно 1). Ответ округлите до сотых.

In [49]:
Bangalore = dtrain[dtrain["City"] == "Bangalore"]
len(Bangalore) / len(Bangalore[Bangalore['LeaveOrNot'] == 1])

3.7075892857142856

Чему равен медианный возраст сотрудников женского пола?

In [50]:
dtrain[dtrain['Gender'] == 'Female']['Age'].median()

28.0

Среди всех сотрудников, ни разу не находившихся без рабочих задач, найдите 75% квантиль столбца ExperienceInCurrentDomain (для нахождения квантили используйте функцию percentile из библиотеки numpy с гиперпараметрами по умолчанию и значением 75).

In [51]:
work = dtrain[dtrain['EverBenched'] == 'No']
n.percentile(work['ExperienceInCurrentDomain'], q = 75)

4.0

Закодируйте категориальные столбцы (с текстовыми значениями) с двумя различными категориями числами 0 и 1 так, что самая частая категория (согласно тренировочным данным) закодирована числом 1. Аналогичную кодировку сделайте с тестовыми данными. Категориальные столбцы с бОльшим числом категорий выкиньте из тренировочных и тестовых данных.
Сколько столбцов осталось в тренировочных данных, не считая целевой переменной?
Комментарий: столбец Education после выполнения предыдущих заданий имеет две категории.

In [61]:
dtrain.loc[dtrain["Gender"] == "Male", "Gender"] = 1
dtrain.loc[dtrain["Gender"] == "Female", "Gender"] = 0

dtrain.loc[dtrain["EverBenched"] == "Yes", "EverBenched"] = 0
dtrain.loc[dtrain["EverBenched"] == "No", "EverBenched"] = 1

dtrain.loc[dtrain["GreatExperience"] == True, "GreatExperience"] = 1
dtrain.loc[dtrain["GreatExperience"] == False, "GreatExperience"] = 0

dtrain.loc[dtrain['Education'] == "Bachelors", "Education"] = 1
dtrain.loc[dtrain["Education"] == "Expert", "Education"] = 0

dtest.loc[dtest["Gender"] == "Male", "Gender"] = 1
dtest.loc[dtest["Gender"] == "Female", "Gender"] = 0

dtest.loc[dtest["EverBenched"] == "Yes", "EverBenched"] = 0
dtest.loc[dtest["EverBenched"] == "No", "EverBenched"] = 1

dtest.loc[dtest["GreatExperience"] == True, "GreatExperience"] = 1
dtest.loc[dtest["GreatExperience"] == False, "GreatExperience"] = 0

dtest.loc[dtest["Education"] == "Bachelors", "Education"] = 1
dtest.loc[dtest["Education"] == "Expert", "Education"] = 0

In [44]:
dtest['Education'].value_counts()["Bachelors"]

917

In [62]:
del dtest['City']
del dtrain['City']

In [65]:
dtrain["Education"] = pd.to_numeric(dtrain["Education"])
dtrain["Gender"] = pd.to_numeric(dtrain["Gender"])
dtrain["EverBenched"] = pd.to_numeric(dtrain["EverBenched"])
dtrain["GreatExperience"] = pd.to_numeric(dtrain["GreatExperience"])
dtrain.dtypes

Education                    int64
JoiningYear                  int64
PaymentTier                  int64
Age                          int64
Gender                       int64
EverBenched                  int64
ExperienceInCurrentDomain    int64
LeaveOrNot                   int64
GreatExperience              int64
dtype: object

Сформируйте из Xtrain матрицу объект-признак X_train и вектор ответов y_train.
При помощи кросс-валидации с тремя фолдами обучите логистическую регрессию (LogisticRegression из билиотеки sklearn.linear_model) c random_state=42 и другими гиперпараметрами по умолчанию на закодированных в пункте а) тренировочных данных и выведите среднее значение метрики roc-auc. Ответ округлите до сотых.

Комментарий: гиперпараметры логистической регрессии по умолчанию (penalty='l2', *, dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn import metrics

X_train, X_test, y_train, y_test = train_test_split(
    dtrain.drop(columns="LeaveOrNot"),
    dtrain["LeaveOrNot"],
    test_size=0.2,
    random_state=42)

clf = LogisticRegressionCV(cv=3, random_state=42).fit(X_train, y_train)
y_pred_proba = clf.predict_proba(X_test)[::,1]
auc = metrics.roc_auc_score(y_test, y_pred_proba)
auc

ValueError: could not convert string to float: 'Masters'

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=42).fit(X_train, y_train)

grid_clf = GridSearchCV(lr, 'C', cv=3, scoring='roc_auc')
grid_clf.fit(X_train, y_train)